# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\codegym\Study\Module2\OOP\inheritance\Shape-Triangle\-Module2_Java_OOP_Inheritance_Shape-Triangle\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
